/* CANVAS DAS PARTICULAS */
#particles {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

/* NEVOA VERMELHA */
.fog {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: radial-gradient(circle at bottom, rgba(255,0,0,0.4), transparent);
    z-index: 1;
    pointer-events: none;
}

/* RAIOS */
.lightning {
    position: fixed;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}
