/* NEVOA */
.fog {
    position:fixed;
    bottom:0;
    width:100%;
    height:300px;
    background:radial-gradient(circle at center,rgba(255,0,0,0.4),transparent 70%);
    filter:blur(40px);
    animation:fogMove 10s infinite alternate;
    pointer-events:none;
}

/* PARTICULAS */
.particles::before {
    content:"";
    position:fixed;
    inset:0;
    background:
        repeating-radial-gradient(circle,rgba(255,0,0,0.5) 0 2px,transparent 2px 30px);
    animation:particlesMove 20s linear infinite;
    opacity:0.3;
    pointer-events:none;
}

/* RAIOS */
.lightning {
    position:fixed;
    inset:0;
    background:linear-gradient(120deg,transparent 40%,rgba(170,0,255,0.15),transparent 60%);
    animation:lightning 4s infinite;
    pointer-events:none;
}
