.map-tools {
    margin: 10px 0;
}

.map-tools button {
    background: rgba(120,0,120,0.6);
    border: 1px solid #ff3cff;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 6px;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background:black;
    color:white;
    overflow:hidden;
}

/* HEADER */
header {
    height:70px;
    display:flex;
    align-items:center;
    gap:15px;
    padding:0 20px;
    background:#050005;
    border-bottom:1px solid purple;
    z-index:10;
    position:relative;
}

.logo-small {
    width:45px;
    height:45px;
    border-radius:50%;
    box-shadow:0 0 15px purple;
}

header h2 {
    color:#fff;
    text-shadow:0 0 10px purple;
}

/* MENU */
nav {
    margin-left:auto;
}

nav button {
    background:linear-gradient(45deg,#6000ff,#ff00ff);
    border:none;
    color:white;
    padding:8px 16px;
    margin-left:10px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 0 10px rgba(255,0,255,0.5);
}

nav button:hover {
    transform:scale(1.1);
    box-shadow:0 0 20px purple;
}

/* MAIN */
main {
    height:calc(100vh - 70px);
    position:relative;
}

/* PAGES */
.page {
    position:absolute;
    inset:0;
    padding:40px;
    opacity:0;
    pointer-events:none;
    transform:translateY(20px);
    transition:0.5s;
}

.page.active {
    opacity:1;
    pointer-events:auto;
    transform:translateY(0);
}

/* HOME */
.home {
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.logo-big {
    width:220px;
    height:220px;
    border-radius:50%;
    background:url("../assets/logo.png") center/cover;
    box-shadow:0 0 50px purple;
    animation:pulse 3s infinite;
}

.home h1 {
    font-size:48px;
    margin-top:20px;
}

.home p {
    max-width:700px;
    margin-top:20px;
    opacity:0.8;
}
/* ================= MAPA ================= */

.map-toolbar {
    display:flex;
    gap:15px;
    align-items:center;
    margin-bottom:10px;
}

.map-toolbar input {
    background:#111;
    color:white;
}

#mapCanvas {
    width:100%;
    height:calc(100vh - 180px);
    background:#0b000b;
    border:1px solid purple;
    cursor:grab;
}
